*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
   
}
body{
    background-color: #3F3E3E;
    overflow-x: hidden;
 
}
.header{
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #312E2E;
    height: 70px;
    overflow: hidden;
    box-sizing: border-box;
}
nav img{
    width: 150px;

}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1{
    font-size: 55px;
}
.text_box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s all;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
}
nav .fa{
    display: none;
}
nav .logo{
    margin-top: 33px;
    margin-right: -10px;
}
/*-------about us------*/


.about-us{
    width: 80%;
    margin: auto;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .row{
        flex-direction: column;
    }
    #navLinks{
        display: none;
        transition: 0.8s;
    }
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.about-col h1{
    color: #fff;
    padding-top:80px;
    padding-bottom: 20px;
}
.about-col p{
    padding: 15px 0 25px;
}
@media (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .text_box h1{
        font-size: 20px;
    }
    .nav_links ul li{
        display: block;
    }
    .nav_links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_links ul{
        padding: 30px;

    }
}
/*------course------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 33px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media (max-width: 1000px) {
    .row{
        flex-direction: column;
    }
}
/*------campus------*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
/*facilities*/
.facilities{
    padding-top: 100px;
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.facilities-col{

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background-color: #312E2E;
    position: relative;
    overflow: hidden;
}
.facilities-col img{
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.facilities-col p{
    
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}
.facilities-col h3{

    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: center;
}
/*testimonials*/
.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 16px;
    text-align: left;
}
@media (max-width: 700px) {
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
/*--------------------foooter------------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #312E2E;

}
.footer h4{
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 600;
    
}
.footer p{
    text-decoration: none;
}
.icons .fa-brands{
    color:#f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


.skill_bar_section * {
    font-family: Nunito, sans-serif;
  }
  
  .skill_bar_section .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    font-size: 16px;
  }
  
  .skill_bar_section .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .skill_bar_section .responsive-cell-block {
    min-height: 75px;
  }
  
  .skill_bar_section .responsive-container-block.container {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    max-width: 1320px;
    overflow-x: hidden;
    overflow-y: visible;
  }
  
  .skill_bar_section .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  
  .skill_bar_section .text-blk.section-head {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    max-width: 580px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
  }
  
  .skill_bar_section .text-blk.skill-name {
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
  }
  
  .skill_bar_section .skill-bar {
    height: 6px;
    background-color: #eeeeee;
  }
  
  .skill_bar_section .skills {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
    position: relative;
  }
  
  .skill_bar_section .skill-per {
    height: 6px;
    background-color: #7bb9ff;
    width: 0px;
    transition-duration: 1.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: all;
  }
  
  .skill_bar_section .skills-name-box {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  
  .skill_bar_section .skill-per::after {
    position: absolute;
    content: attr(percentage) "%";
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .skill_bar_section .skill-per.two {
    background-color: #5580ff;
  }
  
  .skill_bar_section .skill-per.three {
    background-color: #ff8a73;
  }
  
  .skill_bar_section .skill-per.four {
    background-color: #fed066;
  }
  
  .skill_bar_section .circle {
    max-width: 536px;
    max-height: 536px;
    width: 100%;
    height: 100%;
    background-color: #fed066;
    border-top-left-radius: 270px;
    border-top-right-radius: 270px;
    border-bottom-right-radius: 270px;
    border-bottom-left-radius: 270px;
    position: absolute;
    left: 25%;
    bottom: -10%;
  }
  
  .skill_bar_section .img {
    width: 130%;
    position: relative;
    right: -30%;
    box-shadow: rgba(0, 0, 0, 0.1) 6px 12px 24px;
  }
  
  .skill_bar_section .right-side {
    position: relative;
    height: 80%;
    display: flex;
    align-items: center;
  }
  
  .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-10.wk-tab-11.wk-desk-6 {
    min-height: 650px;
  }
  
  @media (max-width: 1024px) {
    .skill_bar_section .img {
      right: 0px;
      left: 0px;
      width: 100%;
    }
  
    .skill_bar_section .circle {
      left: -10%;
      bottom: -15%;
      right: 0px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 60px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-ipadp-9.wk-tab-10.wk-desk-6.left-one {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
      min-height: 450px;
    }
  
    .skill_bar_section .text-blk.skill-name {
      font-size: 18px;
    }
  
    .skill_bar_section .text-blk.section-head {
      font-size: 30px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .skill_bar_section .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .skill_bar_section .text-blk.section-head {
      font-size: 26px;
      line-height: 36px;
    }
  
    .skill_bar_section .responsive-cell-block.wk-mobile-12.wk-tab-11.wk-desk-6.wk-ipadp-10 {
      min-height: 75px;
    }
  
    .skill_bar_section .skills-name-box {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 16px;
      margin-left: 0px;
    }
  
    .skill_bar_section .skills {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}